$primary-silver-tree: #63C08C;
$primary-emerald: #58CB8E;
$primary-petrol: #2D557D;

$secondary-petrol: #2D557C;
$secondary-petrol-medium: #405F84;
$secondary-petrol-light: #54749A;

$secondary-blue: #268EFF;
$secondary-blue-medium: #7DBBFF;
$secondary-blue-light: #E5F2FF;

$secondary-silver-light: #F8F8F8;
$secondary-silver-medium: #EEEEEE;
$secondary-silver: #DDDDDD;
$secondary-dark-light: #C1C1C1;
$secondary-dark-medium: #AAAAAA;
$secondary-dark: #444444;