*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: $secondary-blue;
  cursor: pointer;

  &:hover {
    color: $primary-petrol;
  }
}

*:focus {
  outline: none;
}

::-webkit-scrollbar { visibility: hidden; display: none;}

