body {
  background: $secondary-silver;
}
.app {
  background: white;
  margin: 5vh 5vw;
  min-width: 90vw;
  height: 1px;
  min-height: 90vh;
  border-top: 2px solid $primary-petrol;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}