input::placeholder {
  color: $secondary-silver;
}

select {
  border: none;
  box-shadow: none;
  border-radius: 3px;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper {
  position: relative;

  select {
    position: relative;
    padding-right: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);

    + i {
      font-size: 1rem;
      position: absolute;
      top: 25%;
      right: 10px;
      pointer-events: none;
    }
  }
}