html,
body {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.45em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  margin-bottom: 1em;
  font-weight: 200;
}

h1 { font-size: 2rem; }

h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

ul,
li,
p,
textarea,
input,
a {
  font-size: 1.5rem;
}