.action-modal {
  position: absolute;
  bottom: 80px;
  right: 35px;
  background: white;
  min-width: 480px;
  border: 1px solid $secondary-silver;
  border-radius: 3px;
  box-shadow: -2px -2px 10px 0 rgba(0,0,0,0.2);

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $secondary-silver;

    h4 {
      margin-bottom: 0;
      font-weight: bold;
    }

    span {
      font-size: 1.4rem;
      color: $secondary-dark-medium;
    }

    .icon i { color: $secondary-dark;}
  }

  &__upload {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-bottom: 1px solid $secondary-silver;
  }

  &__search {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid $secondary-silver;

    i { color: $secondary-silver; }

    input {
      flex-grow: 1;
      padding: 1rem;
      border: 0;
      font-size: 1.4rem;
    }

    &__actions {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 1px solid $secondary-silver-medium;

      a {
        font-size: 1.25rem;
        margin-left: 1rem;
      }
    }

  }

  &__files-list {
    min-height: 150px;
    max-height: 350px;
    overflow-y: scroll;
    padding: 1px 0;
    background: $secondary-silver-medium;

    &__item {
      display: flex;
      align-items: center;
      padding: 1rem;
      margin: 1rem;
      background: white;
      border: 2px solid transparent;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);

      &--selected {
        border-color: $primary-emerald;
      }

      &__details {
        flex-grow: 1;
        padding-left: 0.5rem;
      }

      &__actions {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;

        span {
          font-size: 1rem;
          color: $secondary-dark-medium;
          padding-right: 1rem;
        }

        select { width: 120px; }

        a {
          margin-left: 1rem;
        }
      }
    }
  }

  &__actions {
    border-top: 1px solid $secondary-silver;
    background: $secondary-silver-light;
    padding: 1rem;
    text-align: right;
  }

  &::before,
  &::after {
    position: absolute;
    bottom: -11px;
    right: 10px;
    z-index: 1;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border-right: 10px solid transparent;
    border-top: 10px solid $secondary-silver;
    border-left: 10px solid transparent;
  }

  &::after {
    bottom: -9px;
    right: 11px;
    border-right: 9px solid transparent;
    border-top: 9px solid $secondary-silver-light;
    border-left: 9px solid transparent;
  }
}