.agenda {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  min-height: 100%;

  // .agenda__header
  &__header {
    box-shadow: inset 0 -1px 0 0 $secondary-silver;
    padding: 2rem 4rem 0 4rem;
  }

  // .agenda__main
  &__main {
    flex: 1;
    background: $secondary-silver-light;
  }

  // .agenda__actions
  &__actions {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-top: 1px solid $secondary-silver;
    // .agenda__actions__icons
    &__icons {
      display: flex;
      margin-left: auto;

      // .agenda__actions__icons ul
      ul {
        padding: 0.5rem 1rem;
        border-left: 1px solid $secondary-silver-medium;
      }

      .icon {
        margin: 0 0.5rem;
      }
    }
  }

  // agenda__list
  &__list {
    // agenda__list__item
    &__item {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem 0;
      border-bottom: 1px solid $secondary-silver;

      // agenda__list__item__number
      &__number {
        display: block;
        width: 12rem;
        padding: 0 4rem;
      }

      // agenda__list__item > span
      > span {
        font-weight: bold;
      }

      // agenda__list__item--child > span
      &--child > span {
        font-weight: 200;
      }

      // &__files {
      //   width: 100%;
      //   height: 50px;
      //   margin-top: 1rem;
      // }
    }
  }


}