.button {
  display: inline-block;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 2px;
  background: $secondary-blue;
  font-size: 1.3rem;

  &:hover {
    background: $secondary-petrol;
    color: white;
  }
}