.vendor-dropzone {
  width: 100%;
  margin: 1rem 1.5rem;
  padding: 2rem 3rem;
  text-align: center;
  border: 2px dashed $secondary-blue-medium;
  color: $secondary-blue-medium;
  font-size: 1.4rem;

  &__message {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Hack to hide defaults dropzone behaviour
  .dz-preview { display: none !important;}
}