.icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;

  i {
    color: $secondary-blue;
    font-size: 2rem;
  }

  &--small {
    padding: 0.75rem;

    i {
      font-size: 1.5rem;
    }
  }

}

a.icon {
  &--active,
  &:hover i {
    color: $primary-petrol,
  }

  &--inactive,
  &--inactive:hover {
    cursor: default;

    i {
      color: $secondary-blue-light;
    }
  }
}