.tabs {
  display: flex;

  &__item {
    margin: 0 1rem;

    a {
      display: block;
      color: $secondary-dark-light;
      padding: 1rem 4rem;
      border-bottom: 1px solid transparent;

      &:hover {
        color: $secondary-dark;
        border-bottom-color: $secondary-dark-light;
      }
    }

    &--active {
      a,
      a:hover {
        border-bottom-color: $secondary-blue;
        color: $secondary-dark;
      }
    }
  }
}